:root {
  font-size: 16px;
  font-family: "Roboto", Arial;

  /* variables in root so I can use them everywhere */
  --primary-background-color: hsl(213, 24%, 20%);

  --primary-text-color: #fff;
  --highlight-text-color: hsl(176, 96%, 69%);
}

/* whole page style */
* {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-bar-nav {
  position: fixed;
  display: flex;
  width: 100vw; /* whole screen */
  height: 60px;
}

.top-bar-nav ul {
  display: flex;
  gap: 2em; /* space between the elements */
  padding: 1.5em; /* moves the element away from the corner of the screen */
  list-style: none;
}

.top-bar-nav a,
span {
  text-decoration: none;
  font-style: italic;
  font-size: 2rem;
  outline: none; /* makes the on focus state look better */
}

.top-bar-nav a:hover,
.top-bar-nav a:focus {
  color: var(--highlight-text-color);
  transition: all 300ms ease-out;
  border-bottom: 3px solid var(--highlight-text-color);
}

.main-header {
  padding: 1em; /* moves the header down a little also pushes elements below it down */
  font-size: 6rem;
}

.column-container {
  display: flex;
  gap: 3em;
  flex-direction: column;
  align-items: center;
}

.column-header {
  color: var(--primary-background-color);
  background: rgb(28, 199, 235);
  background: linear-gradient(
    90deg,
    rgba(28, 199, 235, 1) 0%,
    rgba(161, 161, 255, 1) 50%,
    rgba(255, 77, 131, 1) 100%
  );
  font-size: 2rem;
  padding: 1em; /* makes some blank space around the header */
  margin-bottom: 1em; /* puts some space between the header and the text */
  text-align: left;
}

.column-content {
  width: clamp(45ch, 5rem, 75ch);
  font-size: 2rem;
}

.column-content img {
  width: 95%;
  height: auto;
  padding-bottom: 0.75em; /* push the elements below the image down */
}
